<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="PasswordFtp" value="MYPassword"/>
    <add key="PasswordDb" value="Enc(5sMeCYg3hapvzWcGoIRLhQ==)"/>
    <add key="PasswordTest" value="Enc(5sMeCYg3hapvzWcGoIRLhQ==)"/>
    <add key="PasswordSS" value="Enc(5sMeCYg3hapvzWcGoIRLhQ==)"/>
	  <add key="LogFile" value="deploy.log"/>
    <add key="ConfigurationFile" value="../../../../../config/Configuration.xml"/>
  </appSettings>
</configuration>